JWT authentication FIXED.json
{
    "name": "JWT authentication FIXED",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "jwt-login",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "f513b8dd-9b87-4c72-996d-67113af832ba",
            "name": "Webhook",
            "webhookId": "53debe2f-c98d-47e8-8029-c1253aa427f8"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "users",
                "returnAll": false,
                "limit": 1,
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "email",
                            "condition": "eq",
                            "keyValue": "={{ $json.body.email }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                352,
                0
            ],
            "id": "check-user-exists",
            "name": "Check User Exists",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "8GaIh3SskFT7YKo4",
                    "name": "Supabase account 2"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "user-exists-check",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {
                    "ignoreCase": false
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                640,
                0
            ],
            "id": "if-user-exists",
            "name": "If User Exists"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "get-existing-user-id",
                            "name": "user_id",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        },
                        {
                            "id": "get-existing-name",
                            "name": "name",
                            "value": "={{ $json.name }}",
                            "type": "string"
                        },
                        {
                            "id": "get-existing-email",
                            "name": "email",
                            "value": "={{ $json.email }}",
                            "type": "string"
                        },
                        {
                            "id": "get-existing-username",
                            "name": "username",
                            "value": "={{ $('Webhook').first().json.body.username }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                928,
                -160
            ],
            "id": "get-existing-user",
            "name": "Get Existing User"
        },
        {
            "parameters": {
                "tableId": "users",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "name",
                            "fieldValue": "={{ $('Webhook').first().json.body.name }}"
                        },
                        {
                            "fieldId": "email",
                            "fieldValue": "={{ $('Webhook').first().json.body.email }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                928,
                160
            ],
            "id": "create-user",
            "name": "Create New User",
            "credentials": {
                "supabaseApi": {
                    "id": "8GaIh3SskFT7YKo4",
                    "name": "Supabase account 2"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "get-new-user-id",
                            "name": "user_id",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        },
                        {
                            "id": "get-new-name",
                            "name": "name",
                            "value": "={{ $json.name }}",
                            "type": "string"
                        },
                        {
                            "id": "get-new-email",
                            "name": "email",
                            "value": "={{ $json.email }}",
                            "type": "string"
                        },
                        {
                            "id": "get-new-username",
                            "name": "username",
                            "value": "={{ $('Webhook').first().json.body.username }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1216,
                0
            ],
            "id": "set-user-data",
            "name": "Set User Data"
        },
        {
            "parameters": {
                "useJson": true,
                "claimsJson": "={\n  \"name\": \"{{ $json.name }}\",\n  \"username\": \"{{ $json.username }}\",\n  \"password\": \"{{ $('Webhook').first().json.body.password }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"user_id\": \"{{ $json.user_id }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.jwt",
            "typeVersion": 1,
            "position": [
                1504,
                0
            ],
            "id": "ce63fa32-ffdf-4df6-8de0-d366859945dc",
            "name": "JWT",
            "credentials": {
                "jwtAuth": {
                    "id": "RK03buPskdFAJmO9",
                    "name": "JWT Auth account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"token\": \"{{ $json.token }}\",\n  \"user_id\": \"{{ $('Set User Data').first().json.user_id }}\"\n}\n",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                1792,
                0
            ],
            "id": "806ec007-05ff-464f-88df-21a8649bca4d",
            "name": "Respond to Webhook"
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Check User Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check User Exists": {
            "main": [
                [
                    {
                        "node": "If User Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If User Exists": {
            "main": [
                [
                    {
                        "node": "Get Existing User",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create New User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Existing User": {
            "main": [
                [
                    {
                        "node": "Set User Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create New User": {
            "main": [
                [
                    {
                        "node": "Set User Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set User Data": {
            "main": [
                [
                    {
                        "node": "JWT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "JWT": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "dd9c261d-02c6-4e5c-a95a-c381c2db8727",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "94c1f6d8acd1731e84fa6da9657b66416c0d00f160cbfe2dadafe704c018fe36"
    },
    "id": "bsiPR5CbHzsu8WMf",
    "tags": []
}